extends layout

block content
    #content(data-filename=fullname)
        div.markdown-body !{file}
    script(src='/js/main.js')
    script(type="text/x-mathjax-config").
      MathJax.Hub.Config({
        //jax: ["input/TeX","output/HTML-CSS","output/NativeMML"],
        extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js"],
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['$$','$$'], ['\\[','\\]']]
        },
        TeX: {
          extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
          Macros: {
            textsf: ['\\mathord{\\sf{\\text{#1}}}', 1],
            texttt: ['\\mathord{\\tt{\\text{#1}}}', 1],
            vline: ['\\smash{\\large\\lvert}', 0],
            le: ['\\leqslant', 0],
            ge: ['\\geqslant', 0],
            phi: ['\\varphi', 0], // греческая фи, как принято в нашей нотации
            EDS: ['\\mathscr{E}', 0], // красивая буква для ЭДС
            degree: ['^\\circ', 0],
            celsius: ['\\degree{}C', 0],
            arctg: ['\\mathop{\\rm arctg}\\nolimits', 0],
            ch: ['\\mathop{\\rm ch}\\nolimits', 0],
            ctg: ['\\mathop{\\rm ctg}\\nolimits', 0],
            sh: ['\\mathop{\\rm sh}\\nolimits', 0],
            arcctg: ['\\mathop{\\rm arcctg}\\nolimits', 0],
            cosec: ['\\mathop{\\rm cosec}\\nolimits', 0],
            cth: ['\\mathop{\\rm cth}\\nolimits', 0],
            tg: ['\\mathop{\\rm tg}\\nolimits', 0],
            th: ['\\mathop{\\rm th}\\nolimits', 0]
          },
          noErrors: { disabled: true }, // для возврата к TeX в случае проблем с mathjax
          noUndefined: { disabled: true } // для возврата к TeX в случае проблем с mathjax
        },
        menuSettings: {
          zoom: "Hover",
          zscale: "200%"
        },
        //skipStartupTypeset: true,
        messageStyle: "none",
        showMathMenu: false, // отключает мею по правой клавише
        preRemoveClass: "MathJax_Preview_Alternative", // для возврата к TeX в случае проблем с mathjax
        "HTML-CSS": { scale: 120} // для увеличения размера формул
      });

      // Для исправления ошибок в формулах, содержащих команду \nulldelimiterspace
      // MathJax.Hub.Register.StartupHook("TeX Jax Ready", function () {
      //   var TEX = MathJax.InputJax.TeX;
      //   var PREFILTER = TEX.prefilterMath;
      //   TEX.Augment({
      //     prefilterMath: function (math,displaymode,script) {
      //       math = math.replace(/\\nulldelimiterspace/g, "0em");
      //       return PREFILTER.call(TEX,math,displaymode,script);
      //     }
    script(type="text/javascript" async, src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML&locale=ru")
